[submodule "my-resume"]
	path = content/about
	url = https://github.com/pgillet/my-resume.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
